[submodule "dep/GLFW"]
	path = dep/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "dep/GLM"]
	path = dep/GLM
	url = https://github.com/g-truc/glm.git
[submodule "dep/ASSIMP"]
	path = dep/ASSIMP
	url = https://github.com/assimp/assimp.git
[submodule "dep/IMGUI"]
	path = dep/IMGUI
	url = https://github.com/ocornut/imgui.git
